<div class="card">
    <div class="card-body">
        <form action="/login/create" method="POST">
            <h3>Criando Usuário</h3>
            <label for="nome">Nome</label>
                <input type="text" name="name" class="form-control" placeholder="Digite seu nome" value="" required>
            <label for="senha">Senha</label>
                <input type="password" name="password" required>
            <button class="btn btn-sucess" type="submit">Criar</button>
        </form>
    </div>
</div>