* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#navbar {
  padding: 1em 2em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #db4c3f;
  color: #fff;
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar ul li {
  margin-left: 1em;
}

#navbar ul li a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 450px;
  margin: 2em auto;

  background-color: rgba(253, 74, 34, 0.2); 
  border:2px solid rgba(0, 0, 0, 0.1); 
  border-radius: 15px;
  padding: 1.50%; 
  text-align:justify;
}

.container form {
  margin-top: 1.5em;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.3em;
}

.form-control input,
.form-control textarea {
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

form input[type='submit'] {
  background-color: #db4c3f;
  color: #fff;
  padding: 0.7em 1.5em;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.task-list li {
  padding: 0.5em;
  margin-bottom: 1em;
  border-bottom: 1px solid #efefef;
  display: flex;
  justify-content: space-between;
}

.task-list .title {
  font-weight: bold;
  color: #2b9e5d;
  transition: 0.5s;
  font-size: 1.2em;
  text-decoration: none;
}

.task-list .title:hover {
  color: #333;
}

.task-list {
  list-style: none;
  margin-top: 1em;

  background-color: rgba(253, 74, 34, 0.2); 
  border:2px solid rgba(0, 0, 0, 0.1); 
  border-radius: 15px;
  padding: 15px; 
  text-align: center;

}

.task-list ,a{
  text-decoration: none;
  color: black;
}

.actions {
  display: flex;
  border: 2px solid rgb(219, 76, 63);
  border-radius: 60px;
  width: 35%;
  margin-top: 1%;
  margin-bottom: 3%;
}

.actions i {
  font-size: 1.25em;
  margin-right: 0.6em;
  color: #333;

}

.actions i:hover {
  color: #ffffff;
}

.actions form {
  margin: 0;
}

.actions button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.title.status {
  text-decoration: line-through;
  color: rgba(255, 0, 0, 0.8);
}

.teste{
  display: inline;
  background-color: rgba(34, 56, 253, 0.2); 
  border:2px solid rgba(0, 0, 0, 0.1); 
  border-radius: 15%;
}


.box{
  background-color: rgba(253, 250, 156, 0.5); 
  border: 1px solid rgba(0, 0, 0, 0.5); 
  border-radius: 15px;
  padding: 5px 5px 5px; 
  font-size: 15px;
  text-align:justify;
}